.bottomContainer{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 20px;
    
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
}
.bottomCenter{
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: aqua;
}
.bottomCenter:hover{
    text-decoration: underline;
}
.icons {
    width: 110px;  /* or any size you want */
    height: 50px; /* or any size you want */
    cursor: pointer;
}
.bottomRight{
    
    display: flex;
    justify-content: space-between;
    
}
