.bottomContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 20px;
    
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
}
.bottomCenter{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bottomCenter