.RegisterContainer{
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.RegisterWrapper{
    
    height: calc(100vh - 170px);
    display: flex;
}
.RegisterLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 110px);
    
}



.inputField {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.passwordContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.passwordContainer .inputField {
    flex: 1;
}

.toggle-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
}

.RegisterButton{
    padding: 10px;
    border-radius: 40px;
    width: 70%;
   
    color:black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
.RegisterButton:hover{
    background-color: #9b1cc2;
    color:white
}
.fogotPass{
    font-weight: 700;
    cursor: pointer;

}

.fogotPass:hover {
    color: #0056b3;
    text-decoration: underline;
}

.RegisterRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 110px);
}
