.topbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.topbarRight{
    display: flex;
    align-items: center;
    
    
}
.topbarLink{
    margin-right: 20px;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}