.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 999;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
}


.navbar-icons {
    display: flex;
    gap: 16px;
}

.menu-icon {
    cursor: pointer;
}

.notification-list {
    position: absolute;
    top: 80px;
    right: 16px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    z-index: 1000;
}


