.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
}

/* ::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
  } */

.left-section {
    flex: 1;
    margin-right: 20px;
    padding: 15px 20px 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    max-height: 440px;
    position: sticky;
    top: 150px;
    height: calc(100vh - 96px);
    overflow: scroll;
}

.left-section.expanded {
    max-height: 600px; 
    overflow-y: auto; 
}

.left-title{
    padding-bottom: 20px;
}

.right-section {    
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 520px;
    top: 150px;
}

.right-section-top,
.right-section-bottom {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    top: 150px;
}

.toggle-switch {
    display: flex;
    align-items: center;
}

.toggle-switch h3 {
    margin-right: 10px;
}

.last-intrusion p{
    color: red;
    font-weight: bold;
}


.last-intrusion {
    text-align: center;
    margin-bottom: 10px;
}

.last-intrusion h3 {
    margin: 10px;
}

.last-intrusion img {
    max-width: 50%;
    height: auto;
}

.user-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 50%;
    
}

.user-images img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.camera-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    gap: 10px;
}

.camera-grid video {
    width: 100%;
    height: auto; 
}

.see-all-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
}

.see-all-link:hover {
    text-decoration: underline;
}

.view-more-btn{
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    
}


