.feedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}
.feedLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 110px);
    
}
.inputField{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 40px;
    width: 80%;
}
.inputField > input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.feedRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    background-color: #fff;
}