.feedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);  
    
}
.feedLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    /*height: calc(100vh - 110px);*/
    background-color: #ffffff;
    
    
}
.inputField{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 40px;
    width: 80%;
}
.inputField > input{
    width: 60%;
    padding: 10px;   
   
    margin-bottom: 10px;
}
.loginButton{
    padding: 10px;
    border-radius: 20px;
    width: 50%;   
    color:black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
.loginButton:hover{
    background-color: #9b1cc2;
    color:white
}
.fogotPass{
    font-weight: 700;
    cursor: pointer;

}
.fogotPass:hover{
    color: #9b1cc2;
    text-decoration: underline;
}
.feedRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 110px);
    background-color: #fff;
}
.feedRightimg{
    width: 90%;
    border-radius: 50px;
}

.video{
    position: absolute;

    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}