.feedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);  /* Adjust to take up the full height minus Topbar and Bottom */
}

.feedLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Adjust width as needed */
    height: calc(100vh - 150px); /* Ensure it fits between Topbar and Bottom */
    background-color: rgba(255, 255, 255, 0.4); /* 40% transparency */
    backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the element */
    padding: 20px; /* Add some padding for spacing */
    box-sizing: border-box; /* Ensures padding does not affect the width/height */
    border-radius: 10px; /* Optional: rounds the corners */
    z-index: 1; /* Ensures it stays above the video background */
}

.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 40px;
    width: 80%;
}

.inputField > input {
    width: 100%; /* Adjust width to fit within the inputField */
    padding: 10px;
    margin-bottom: 10px;
}

.loginButton {
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}

.loginButton:hover {
    background-color: #9b1cc2;
    color: white;
}

.fogotPass {
    font-weight: 700;
    cursor: pointer;
}

.fogotPass:hover {
    color: #9b1cc2;
    text-decoration: underline;
}

.video {
    position: fixed; /* Fixed position to cover the entire background */
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
